/* bus-display.component.css */
.seat {
    width: 50px;
    height: 50px;
    margin: 2px;
  }
  
  .seat-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
  }
  
  .seat-number {
    font-size: 0.7em;
    position: absolute;
    bottom: 2px;
  }
  
  .seating-arrangement {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .seat-legend .seat-box {  
    width: 30px;
    height: 30px;
  }

  .modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 300px; /* Adjust the width as needed */
    height: 100%;
    right: 0;
    top: 0;
    bottom: 0;
}

.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}
